body{
    background: silver;
    font-family: sans-serif;
}

.container{
    width:800px;
    background: white;

    /* inner inlines */
    padding: 8px;

    /* center focus */
    margin: 0 auto;
}

h2{
    font-family: fantasy;
}

a{
    text-decoration: none;
}
.title3a{
    color: red
}

h3{
    color: green;
}